footer {
    position: fixed; /* Tetap di bawah layar */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: white;
    text-align: left;
    z-index: 100;
}

/* Struktur umum untuk menu servis */
.service-menu {
    padding: 20px;
    text-align: center;
    margin-top: -0px; /* Mendekatkan jarak ke header */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Lebih dekat dengan daftar layanan */
    color: #ecdfcc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Daftar menu layanan dengan Flexbox */
.services-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Menengahkan elemen */
    gap: 20px; /* Jarak antar kartu lebih rapi */
    padding: 0;
}

/* Kartu layanan */
.service-item {
    background: linear-gradient(135deg, #3c3d37, #474849);
    color: #ecdfcc;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.091);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(135deg, #4d4f49, #5c5d58);
}

/* Judul layanan */
.service-item h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #ecdfcc;
}

/* Deskripsi layanan */
.service-item p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1,6;
    color: #c7c7c7;
}

/* Tombol Pesan */
.btn-pesan {
    font-weight: bold;
    background-color: #ecdfcc;
    color: #3c3d37;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn-pesan:hover {
    background-color: #697565;
    color: #ffffff;
    transform: scale(1.05);
}

/* Responsif Mobile - Mengubah Layout di Mobile */
@media (max-width: 768px) {


    /* Ubah menu menjadi vertikal dan pengaturan khusus di mobile */
    .service-menu {
        padding: 5px;
        text-align: center;
    }

    .services-list {
        list-style: none;
        display: flex;
        flex-direction: column;  /* Menu diatur vertikal */
        align-items: center;
        gap: 15px;
        padding: 20;
    }

    .service-item {
        width: 100%;
        max-width: 350px;  /* Batasi agar tidak terlalu lebar */
        text-align: center;
        padding: 0px;
        padding-bottom: 12px;
    }

    h1 {
        font-size: 2rem;
    }

    .service-item h2 {
        font-size: 1.3rem;
    }

    .service-item p {
        font-size: 0.9rem;
        line-height: 1;
    }

    .btn-pesan {
        padding: 5px 10px;
        font-size: 10px;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2px 7px;
        color: white;
        text-align: left;
        z-index: 100;
    }
}